<!-- Put the HTML template for your page here! -->
<!DOCTYPE html>
<html>

<head>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
	{% if like_same_music == True %}
		<p> I like those Musicians </p>
	{% else %}
		<p> Those Musicians are the best </p>
	{% endif %}

	<h1>Hello People!</h1>
	<p1>My favorite players are:</p1> <br>
	<!-- <p2>ORANGE IS DISGUSTING!!!!</p2> -->
	<ul>
		{% for player in players%}
		<li> {{player}} </li>
	{% endfor %}
	<ul>
	<br>
	<br>

	<table border = "2">
		<tr>
			<td><img src="./static/samuel.jpeg" width="200px" height="100px"></td>
			<td>  I play what I like … I play what touches my soul.</td>
		</tr>
		<tr>
			<td><img src="./static/lindsey.jpeg" width="200px" height="100px"></td>
			<td>  No one should be afraid to be themselves</td>
		</tr>
		<tr>
			<td><img src="./static/david.jpeg" width="200px" height="100px"></td>
			<td>  Music and Rhyrhm find their way into secret places of the soul</td>
		</tr>


</body>

</html>
